extends ../default

block title
  title #{sitetitle} | Administrator Index

block content
  h1 Administrator Index

  p You're an administrator. Yay! Special stuff you can do:

  ul
    li
      a(href="/admin/users") Manage Users 
      small  edit | de/activate| delete | create
    li
      a(href="/admin/properties") Manage Properties
      small  edit | de/activate | delete | create | change owner

  