extends ../default

block title
  title #{sitetitle} | User Deleted


block content
  h1 User Deleted

  p This user has been removed from the system:

  strong= user

  p
    small
      em (not yet, still @TODO)