extends ../default

block title
  title #{sitetitle} | Reset Password - Email Sent

block content

  h1 Reset Password - Email Sent

  if success
    p Check your email for the password reset email.
  else
    p Something went wrong with the password reset email. Try again later or contact an administrator.