extends ../default

block title
  title #{sitetitle} | Reset Password - Send Email

block content
  h1 Reset Password - Send Email

  form(method="POST")

    if nouser
      p.error There was no user associated with the email you submitted.

    label
      | Enter the email associated with your account: 
      input(type="text" name="email" maxlength="128")

    input(type="submit" name="submit" value="Send Password Reset Email")
