extends ../default

block content

  h1 Reset Your Password

  p Change the password for user with email: #{email}
  
  form(method="POST")
    label
      | Type your new password:
      input(type="password" name="password" maxlength="64") 

    input(type="submit" name="submit" value="Update Password")
