extends ../default

block title
  title #{sitetitle} | Password Reset Results

block content
  
  if err
    h1 Password Reset Failure

    p The password for the user with the following email address could not be reset:

    strong= email

  else
    h1 Password Reset Success

    p The password for the user with this email address has been reset:

    strong= email

    p 
      | You will need to 
      a(href="/login") log in 
      | if you wish to access your account.

