doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width" name="viewport")
    block title
      title Node Auth

    link(rel='stylesheet' href='/assets/css/main.css' type='text/css')
  
  body

    header
      nav
        ul
          li
            a(href="/") Home

          if user && user.admin
            li
              a(href="/admin") Admin

          if auth
            li
              a(href="/account") My Account
            li
              a(href="/logout") Logout
          else
            li
              a(href="/login") Login
    

    block content


    block scripts
