extends ../default

block title
  title #{sitetitle} | Your Account

block content

  h1 Your Account

  p 
    | username: 
    strong #{user.username}
    br
    | email: 
    strong #{user.email}

  if user.admin

    p (info about administrator responsibilities)

    h3 Administrator Tools

    ul.admin
      li
        a(href="/admin/users") Manage Users


  p (info about member responsibilities)

  h3 Member Tools

  ul
    li
      a(href="/user/edit") Edit my user account info
