extends ../default

block content
  h1 Lost Password - Reset Step 1

  form(method="POST")

    if nouser
      p.error There was no user associated with the email you submitted.

    label
      | Enter the email associated with your account: 
      input(type="text" name="email" maxlength="128")

    input(type="submit" name="submit" value="Send Password Reset Email")
