body {
  margin: 0;
  padding: 1em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

li {
  margin-bottom: 0.3em;
}

label {
  display: block;
}

label > input {
  display: block;
}

input {
  font-size: 1.3em;
}

input[type="submit"] {
  display: block;
  margin-top: 1em;
  font-size: 1.3em;
}

header > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header > nav > ul > li {
  display: inline-block;
  margin: 0 2em 0 0;
  padding: 0;
}

.error {
  color: #c00;
}
.success {
  color: #080;
}