extends ../../default

//- @TODO handle errors with deletion response

block title
  title #{sitetitle} | User Deleted


block content
  h1 User Deleted

  p This user has been removed from the system:

  strong= username
