extends ../default

block content
  h1 Node Auth

  p Hi there.

  if users
    h2 Users:
    div
      ul
        each user in users
          if user.admin
            li
              strong= user.username
          else
            li= user.username
  

  unless auth
    include includes/login-form


block scripts
  script(src="/assets/js/auth.validator.js")
  script.
    auth.validator.init([
      $('input[name="username'), $('input[name="password')
    ]);
    $('input[type="submit"]').click(function(e) {
      if (!auth.validator.validateForm()) e.preventDefault();
    });