extends ../default

block content
  h1 Node Auth

  div Hi there.

  if users
    h2 Users:
    div
      ul
        each user in users
          if user.admin
            li
              strong= user.username
          else
            li= user.username
  

  unless auth
    form(action="/login" method="POST")
      
      h3 Login:

      label
        | Username: 
        input(type="text" name="username")
      
      label
        | Password: 
        input(type="password" name="password")

      input(type="submit" value="Submit")

      a(href="/lost-password") Forgot your password?