extends ../default

block content
  h1 Node Auth

  p Hi there.

  if users
    h2 Users:
    div
      ul
        each user in users
          if user.admin
            li
              strong= user.username
          else
            li= user.username
  

  unless auth
    include includes/login-form

