extends ../default

block title
  title #{sitetitle} | Login


block content
  h1 Login

  if flash
    p.error 
      | Login Error: 
      em= flash

  form(action="/login" method="POST")
    
    label
      | Username: 
      input(type="text" name="username")
    
    label
      | Password: 
      input(type="password" name="password")

    input(type="submit" value="Submit")

    a(href="/lost-password") Forgot your password?