extends ../default

block title
  title #{sitetitle} | Login


block content
  h1 Login

  if flash
    p.error 
      | Login Error: 
      em= flash

  include includes/login-form
  

block scripts
  
  script.
    if (this.auth == null) this.auth = {};
    this.auth.selections = {
      body: $('body'),
      forms: $('form')
    }

  script(src="/assets/js/auth.js")