extends ../default

block title
  title #{sitetitle} | Login


block content
  h1 Login

  if flash
    p.error 
      | Login Error: 
      em= flash

  include includes/login-form
  

block scripts
  script(src="/assets/js/auth.validator.js")
  script.
    auth.validator.init([
      $('input[name="username'), $('input[name="password')
    ]);
    $('input[type="submit"]').click(function(e) {
      if (!auth.validator.validateForm()) e.preventDefault();
    });