extends ../default

block title
  title #{sitetitle} | Login


block content
  h1 Login

  if flash
    p.error 
      | Login Error: 
      em= flash

  form(action="/login" method="POST")
    
    label
      | Username: 
      input(type="text" name="username" data-validation="required" data-validation-errors="Please supply a valid username.") 
      span.error
    
    label
      | Password: 
      input(type="password" name="password" data-validation="required" data-validation-errors="Please supply a valid password for this account.") 
      span.error

    input(type="submit" value="Submit")

    a(href="/lost-password") Forgot your password?


block scripts
  script(src="/assets/js/auth.validator.js")
  script.
    auth.validator.init([
      $('input[name="username'), $('input[name="password')
    ]);
    $('input[type="submit"]').click(function(e) {
      var valid = auth.validator.validateForm();
      console.log('form is valid: ' + valid);
      if (!valid) e.preventDefault();
    });